<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{list.customer}"></title>
</head>
<body>
<h1 th:text="#{list.customer}"></h1>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Việt Nam</a>
<h2><a th:href="@{/create}" th:text="#{customer.create}"></a></h2>
<div th:if="${message}">
  <h3><span style="color: red" th:text="#{msg.success}"></span></h3>
</div>

<table border="1">
  <tr>
    <td th:text="#{customer.no}"></td>
    <td th:text="#{customer.id}"></td>
    <td th:text="#{customer.name}"></td>
    <td th:text="#{customer.age}"></td>
    <td th:text="#{customer.address}"></td>

  </tr>
  <tr th:each="customerObj,loop : ${customerList}">
    <td th:text="${loop.count}"></td>
    <td th:text="${customerObj.id}"></td>
    <td th:text="${customerObj.name}"></td>
    <td th:text="${customerObj.age}"></td>
    <td th:text="${customerObj.address}"></td>

  </tr>
</table>
</body>
</html>